
//////////////////////// COLORS  ////////////////////////////
$color-primary-light:#403D39;
$color-primary:#353431;
$color-primary-dark:#252422;


$color-secondary-light:#EE7444;
$color-secondary:#EB5E28;
$color-secondary-dark:#E04E15;

$color-green:#05AC72;


$color-grey-1:#DDD8D0;
$color-grey-2:#CCC5B9;
$color-grey-3:#EEEBE7;
$color-grey-4:#F7F5F3;

$color-grey-dark:#aaa;

$color-white:#FFFCF2;

////////////////////////// FONT FAMILY ////////////////////////
$font-universal: 'Poppins', sans-serif;
$font-heading : 'Markazi Text', serif;