body{
  font-family: $font-universal;
  font-weight: 300;
  line-height: 1.6;
  font-size:1.4rem;
  color:$color-grey-dark;
}
%heading{
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
}
.heading{

  &-1{
    @extend %heading;
    font-size:7rem;
    color:$color-grey-dark;
    letter-spacing: 3px;
    line-height: 1;

    @include respond(phone){
      font-size:6rem;
    }
  }

  &-2 {
    @extend %heading;
    font-size:4rem;

    &--dark{color:$color-primary;}
    &--light{color:$color-grey-dark;}
  }

  &-3 {
    @extend %heading;
    font-size:3rem;

    &--dark{color:$color-primary;}
    &--light{color:$color-grey-dark;}
  }

  &-4{
    @extend %heading;
    font-size:2rem;
    color:$color-primary;
  }

}